<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="indexstyle.css">
    <title>TestName</title>
</head>
<body>
    <div class="content">
        <div class="test-window">
            <span class="que-number">Вопрос 1:</span>
            <span class="que-text">Какой длины богдан относительно ложки?</span>
            <fieldset class = "fieldset">
                <legend> Выберите один ответ: </legend>
                <input type = "radio" id = "ans1" name = "drone">
                <label for = "ans1">13 сантиметриков!</label><br>
                <input type = "radio" id = "ans2" name = "drone">
                <label for = "ans2">11 сантиметриков!</label><br>
                <input type = "radio" id = "ans3" name = "drone">
                <label for = "ans3">0 сантиметриков!</label><br>
                <input type = "radio" id = "ans4" name = "drone">
                <label for = "ans4">1888 сантиметриков!</label><br>
            </fieldset> 
            <div class="buttons">
                <a href="next.html" class="prev-btn">Назад</a>
                <a href="next.html" class="next-btn">Ответить</a>
            </div>
        </div>
    </div>
</body>
</html>